body {
  text-align: center;
  margin: 0;
  background-color: rgb(224, 224, 224);
}

main {
  display: grid;
}

h2 {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid-container_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.grid-container_1 {
  display: grid;
  gap: 20px;
  padding: 50px 10px 10px;
  background-color: rgb(255, 248, 227);
}

.grid-container_2 {
  display: grid;
  gap: 20px;
  padding: 50px 10px 10px;
  background-color: rgb(221, 236, 203);
}

.grid-container_main1-1 {
  background-color: rgb(254, 234, 185);
}

.grid-container_main1-2 {
  background-color: rgb(254, 234, 185);
}

.grid-container_main1-3 {
  background-color: rgb(254, 234, 185);
}

.grid-container_fotter {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 20px 10px 10px;
}

.grid-container_fotter-1 {
  background-color: rgb(250, 250, 250);
}

.grid-container_fotter-2 {
  background-color: rgb(250, 250, 250);
}

.grid-container_fotter-3 {
  background-color: rgb(250, 250, 250);
}

.grid-container_fotter-4 {
  background-color: rgb(250, 250, 250);
}